@import url(./colors.css);

body {
  -webkit-user-select: none;
  user-select: none;
  color: var(--text-color);
  background-color: var(--back-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: none !important;
}
